#outer-container{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;

  flex-direction: row;
  
}
#page-wrap{
  flex: 1;
  display: flex;
  overflow-y : hidden ;
  overflow-x: hidden ;
}

/* Position and sizing of burger button */
.bm-burger-button {
  z-index: 999 !important;
  position: fixed;
  width: 36px;
  height: 30px;
  left: 16px;
  top: 16px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #008EFF;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #fff;
}

/* General sidebar styles */
.bm-menu {
  background: #008fff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #008fff;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* Leaflet Map */

.info {
  padding: 6px 8px;
  text-align: left;  
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  text-align: left;
  margin: 0 0 5px;
  color: #777;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.leaflet-control-layers-expanded{
  text-align: left;
}

// Pills

.pills-right{
  position: absolute;
  top: 0;
  padding-top: 1em;
  right: 0;
  z-index: 9999999;
  margin-right: 20px;
}
.nav-pills .nav-link {
  border-radius: 0.25rem;
}
.nav-link {
  display: block; 
  padding: 0.5em !important; 
  margin-right: 1em;
}

ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

.nav-item{
  margin-left: 1.5em;
  position: relative;
}

.nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}


.test-text{
  width: 70px!important;
  text-overflow: ellipsis!important;
}


.button-bottom{
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: auto
}

.button-top{

  margin: auto;
}

.custom-chart{
  width: 100%;
  height: 100%;
  position: relative;
}