.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #cfd8dc;
  width: 100%;
}

.card-block {
  flex: 1 1 auto;
}

.card-body{
  height: 100%;
  width: 100%;
  padding : 0px!important;
}


.recharts-y-axis .recharts-cartesian-axis-tick-value {
  transform: translateX(-6px);
  text-overflow: ellipsis;

}

.button-bottom{
  position: absolute;
  bottom: -25;
}