.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #cfd8dc;
  width: 100%;
}

.card-block {
  flex: 1 1 auto;
}

.card-body{
  height: 100%;
  width: 100%;
  padding : 0px!important;
}


.recharts-y-axis .recharts-cartesian-axis-tick-value {
  transform: translateX(-6px);
  text-overflow: ellipsis;

}

.text-charts{
  text-align: inherit;  
  margin: auto;
  width: 70%;
}

.text-charts span{
  font-weight: bold!important;
}

.bold-text-charts{
  font-weight: bold!important;
  color: #2c3e50;
}


.sm-text-charts{
  color: #34495e;
}


.card-details{
  position: absolute;
  width: 100%;
  height: 100%;
}
.card-big-details{
  font-weight: bold;
  text-align: right;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;  
  padding-top: 10px;
  color: #34495e;
  font-size: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.card-big-details span{
  bottom: -10px;
  position: relative;
}

.card-small-details{
  font-weight: bold;
  position: relative;
  text-align: right; 
  margin-right: 15px;
  margin-top: 0px;  
  color : #999999;
  font-size: 20px;
}

.h4{
  font-size: 10px;
}

.chart-legend{
  vertical-align: middle;
  margin: auto;
}

.chart-table{
  vertical-align: middle;
  text-align: left;
  width: 60%;
  margin: auto;
  padding-right: 40px;
  
}

.chart-wrapper{
  vertical-align: middle;
  width: 100%;
  height: 100%;
  margin: auto;
}

.Legend {
  display : flex; 

	&--color {
		display: inline-block;
		vertical-align: middle;
		border-radius: 2px;
		width: 16px;
		height: 16px;
	}
	
	&--label {
		display: inline-block;
		vertical-align: middle;
		font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: #34495e;
    margin-left: 2px;
		margin-right: 20px;
	}
}
