
.dropzone{
  padding: 5px;
  margin-top: 56px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  min-height: 120px;
  border: 2px dashed #C7C7C7;
}

.uploaded-files{
    display: flex;
}

.filepicker-file-icon {
    position: relative;
    display: inline-block;
    margin: 1.5em 0 2.5em 0;
    padding-left: 45px;
    color: black;
}
.dz-remove{
  position: relative;
  display: inline-block;
  width: 5px;
  height: 5px;
}

.dz-remove img {
  position: relative;
  display: inline-block;
  width: 90%;
  height: 90%;
}

.filepicker {
    font-family: sans-serif;
}

.filepicker-file-icon::after {
    font-size: 11px;
    line-height: 1.3;
    position: absolute;
    top: 9px;
    left: -4px;
    padding: 0 2px;
    content: 'file';
    content: attr(data-filetype);
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
    background-color: #fff;

}

.dz-file-description {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  width: 100%;

}

.dz-details {
  width: 100%;
  text-align: left;
  color: white;

}

.dz-filename {
  text-overflow: ellipsis;
  float:left;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dz-remove-icon {
  min-height: 18px;
  min-width: 18px;
  margin:auto;
  float:right;
}

.filepicker-file-icon::before {
    position: absolute;
    top: -7px;
    left: 0;
    width: 29px;
    height: 34px;
    content: '';
    border: solid 2px #fff;
    border-radius: 2px;
}


