html {
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, #app{
  position: absolute;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.map-container, .leaflet-container{
  width: 100%;
  height: 100%;
}

.recharts-tooltip-wrapper{
  z-index: 99999;
  text-align: left;
}
